import /init.mitee.rc

# Set SELinux to Permissive
on early-init
    write /sys/fs/selinux/enforce 0

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw

on late-fs
    # Mount RW partitions which need run fsck
    mount_all /first_stage_ramdisk/fstab.mt6833 --late

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_keyring

on fs
    mkdir /mnt/vendor/persist 0755 system system
    mkdir /persist 0755 system system
    mount_all /system/etc/persist.fstab --early
    restorecon_recursive /mnt/vendor/persist
    mkdir /mnt/vendor/persist/data 0755 system system
    mount none /mnt/vendor/persist /persist bind

service vendor.keymint-mitee /vendor/bin/hw/android.hardware.security.keymint@1.0-service.mitee
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service load-touch-module /system/bin/load-touch-module.sh
    user root
    group root
    oneshot
    disabled
    seclabel u:r:recovery:s0

on property:crypto.ready=1
    start vendor.keymint-mitee

on property:hwservicemanager.ready=true
    start vendor.keymint-mitee
    start vendor.gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop tee-supplicant
    stop vendor.keymint-mitee
    stop vendor.gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop tee-supplicant
    stop vendor.keymint-mitee
    stop vendor.gatekeeper-1-0

on property:twrp.decrypt.done=true
    stop tee-supplicant
    stop vendor.keymint-mitee
    stop vendor.gatekeeper-1-0

on property:crypto.ready=0
    stop tee-supplicant
    stop vendor.keymint-mitee
    stop vendor.gatekeeper-1-0

on boot
    start boot-hal-1-2
    start health-hal-2-1
    start load-touch-module
